<h2>Locations</h2>
<div class="buttons">
  <button class="btn" id="back">back</button>
  <button class="btn" id="next">next</button>
</div>

  <div class="grid-container">
  {{#each this.model.results as |location|}}
    <div class="grid-item">
      <span>
        <p class="title">Name:</p> 
        <p class="descrition">{{location.name}}</p>
      </span>

      <span>
        <p class="title">Type:</p>
        <p class="descrition">{{location.type}}</p>
      </span>

      <span>
        <p class="title">dimension:</p>
        <p class="descrition">{{location.dimension}}</p>
      </span>
      {{!-- <span>
        <a href="{{location.url}}">aaaaaa</a>
      </span> --}}
    </div>
  
    {{else}}
      <p>Nada para ver aqui :/</p>
    {{/each}}
  </div>
<div class="buttons">
  <button class="btn">back</button>
  <button class="btn">next</button>
</div>

