<h2 class='mt-2'>Characters</h2>
<div class='container' {{did-insert (fn this.loadCharacters)}}>
  <form class=' m-2 w-100' role='search'>
    <div class="form-group w-100 d-flex">
      <Input class="form-control" @value={{this.term}} />
      <button {{on "click" (perform this.findRecords)}} class='btn btn-outline-success'>Search</button>
    </div>
  </form>
  <div class='row'>
    {{#each this.records as |character|}}
      <div class='card col-md-3' >
        <img
          class='card-img-top mt-2'
          src='{{character.image}}'
          alt='Card image cap'
        />
        <div class='body p-2'>
          <h5 class='card-title'>{{character.name}}</h5>
          <p class='card-text'>Status: {{character.status}}</p>
          <p class='card-text'>Species: {{character.species}}</p>
          <p class='card-text'>Type: {{character.type}}</p>
          <p class='card-text'>Gender: {{character.gender}}</p>
          <p class='card-text'>Origin: {{character.originName}}</p>
          <p class='card-text'>Location: {{character.locationName}}</p>
        </div>
      </div>
    {{else}}
      <p>Nada para ver aqui :/</p>
    {{/each}}
    {{log this.records}}
    <Buttons @nextPage={{fn this.nextPage}}/>
  </div>
</div>